# Cadena de conexión de Vercel Postgres. La encontrarás en el dashboard de tu proyecto de Vercel.
POSTGRES_URL="6cdc9bad-fbbd-491f-9584-fc7ef00cf06e"

# Supabase Configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=
